.flex-parent
{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 50vw;
    margin-left: 25vw;
    /* margin-right: 20px; */
    align-items: center;
    justify-content: center;
}

.flex-parent-2
{
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    align-items: center;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    height: 10%;
    width: auto;
}

.flex-parent-3
{
    size: contain;
}

.flex-parent-4
{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}