body {
  background-color: rgb(238, 228, 210);
  text-align: center;
  font-size: 150%;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

ul {
  color: rgb(101, 101, 231);

  padding: 1%;
}
ol {
  border: rgb(224, 23, 130) solid 5px;
  width: 70%;
  margin: auto;
}
