*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    align-content: center;
    padding: 6rem; 
}

.one, .two, .three
{
    width: 100%;
    height: 100%;
}


.three{
    grid-column: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.one h2
{
    font-size: 6rem;
    font-weight: bold;
    color: rgb(61, 8, 69);
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

.one p
{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.fa-star
{
    size: 30px;
    color: red;
    fill: darkgreen;
}

.two
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.two div
{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(126, 89, 133, 0.2);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    color: rgb(61, 8, 69);
    font-weight: bold;
}

.two div:nth-child(1)
{
    margin-right: 20%;
}

.two div:nth-child(2)
{
    margin-right: 10%;
    margin-left: 10%;
}

.two div:nth-child(3)
{
    margin-left: 20%;
}

.two div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.material-icons
{
    font-size: 1rem;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
    color: rgb(237, 174, 26);
}

.cards
{
    width: 30%;
    height: 100%;
    background-color: rgb(61, 8, 69);
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.cards h2
{
    color: white;
}


.cards > div
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
}

img + div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.girl
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.cards div div
{
    margin-top: 0.5rem;
    margin-left: 1rem;
}

h2, h3
{
    margin: 0.2rem 0;
}

h3
{
    font-size: 1.4rem;
    color: rgb(175, 76, 130);
}

.cards p
{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.cards-2
{
    position: relative;
    top: 1.5rem;
}

.cards-3
{
    position: relative;
    top: 3rem;
}

@media (max-width: 500px)
{
    html
    {
        font-size: 0.5rem;
    }

    body
    {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 2fr;
    }

    .one h2
    {
        font-size: 0.5rem;
    }

    .three
    {
        grid-row: 2 / 3;
    }

    .one, .two, .three
    {
        width: 50%;
        height: 50%;
    }

}