.flex-parent
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

#flex-child-1
{
    font-size: 20px;
}

.flex-child-2
{  
    height: 200%;

}